# 6.List

In [1]:
# Create List
a=[1,2,3,4,5]
b=["Champ",21,99.5]
print(a,b)
print(len(b))  #Length of the list
print(b[0])  #Locate list element based on index
print(a[1:])  #Print all elements of list except 1st element
print(a[:2]) #Print all elements upto 2nd element
print(a+b)   #Concatenate 2 lists

[1, 2, 3, 4, 5] ['Champ', 21, 99.5]
3
Champ
[2, 3, 4, 5]
[1, 2]
[1, 2, 3, 4, 5, 'Champ', 21, 99.5]

In [2]:
a=[1,2,3,4,5]
a.append(6) #Inserting new elements to the existing list
print(a)

[1, 2, 3, 4, 5, 6]

In [3]:
a=[1,2,3,4,5]
a.reverse()  #Reverse List
print(a)
print(min(a))   # Print Minimum value in list
print(max(a))   # Print Maximum value in list

[5, 4, 3, 2, 1]
1
5

In [4]:
a=[1,2,3,4,5]
from random import shuffle
shuffle(a)
a

[1, 3, 4, 2, 5]

In [5]:
a=[1,2,3]
b=[4,5,6] 
c=[a,b]         #Nested List Matrix
print(c)
print(c[0])     #Printing  1st row
print(c[0][0])  #Printing 1st element

[[1, 2, 3], [4, 5, 6]]
[1, 2, 3]
1

# 7. Dictionaries

In [10]:
# Creating Dictionary:Key and Value
a={"Name":"Elon","age":50,"Company":["Spacex","Tesla"]}
print(a["Name"])  #Printing Value based on its key
a["age"]=51       #Changing value of age key from 50 to 51
a

Elon

{'Name': 'Elon', 'age': 51, 'Company': ['Spacex', 'Tesla']}

In [7]:
#Nested Dictionaries
b={"Climate":{"Condition":{"Temperature":"38 Degree","Humidity":"70 Percentage"}}}
print(b["Climate"]["Condition"]["Humidity"])

70 Percentage

In [8]:
# Printing Keys of Dictionaries
print(a.keys())

dict_keys(['Name', 'age', 'Company', 'Age'])

In [11]:
#Printing Values of Dictionaries
print(a.values())

dict_values(['Elon', 51, ['Spacex', 'Tesla']])

In [12]:
#Printing tuple of all the items
print(a.items())

dict_items([('Name', 'Elon'), ('age', 51), ('Company', ['Spacex', 'Tesla'])])

# 8. Tuples

In [14]:
#Creating Tuples
a=("Champ",21,99.5)
a

('Champ', 21, 99.5)

In [15]:
#Printing the length of Tuple
print (len(a))

3

In [16]:
#Printing elements of Tuple using index
print(a[0])

Champ

In [17]:
#Getting index of elements
print(a.index("Champ"))

0

# 9. Sets

In [26]:
# Creating Set
a=set()
a.add("Champ")
a

{'Champ'}

In [27]:
a.add(30)
a

{30, 'Champ'}

In [24]:
b=["Champ",21,99.5]
set(b)

{21, 99.5, 'Champ'}

# 10. Boolean

In [28]:
# Creating Boolean
a=True

In [29]:
a=10
b=5
c=15
print(a<b)
print(a>b)
print(a==b)
print(a!=b)
print(a<=b)
print(a>=b)
print(a<b and c>a)
print(a<b or c>a)

False
True
False
True
False
True
False
True

# 11. Python Statements

In [30]:
# If-else statement
a=True
if a:
    print("Positive")
else:
    print("Negative")

Positive

In [32]:
#Elif Statement
a=5
b=6
c=10

if a<b:
    print("a is less than b")
elif c==b:
    print("c is equal to b")
    print("a is not less than b")
    if c<a:
        print("c is less than a ")
else:
    print("a is not less than b")

a is less than b

In [33]:
# Using For Loop to print elements in List
a=[1,2,3,4,5,6,7,8,9,10]
for i in a:
    print(i)

1
2
3
4
5
6
7
8
9
10

In [34]:
# Using For loop  to print elements in String
a=[x for x in 'Champ']
a

['C', 'h', 'a', 'm', 'p']

In [35]:
# Finding if the number is odd or even
a=[1,2,3,4,5,6,7,8,9,10]
for i in a:
    if i % 2 == 0:
        print(i, "Even Number")
    else:
        print(i, "Odd Number")

1 Odd Number
2 Even Number
3 Odd Number
4 Even Number
5 Odd Number
6 Even Number
7 Odd Number
8 Even Number
9 Odd Number
10 Even Number

In [36]:
# Using for loop to print the String Elements one by one
for a in "Hello all":
    print(a)

H
e
l
l
o

a
l
l

In [38]:
# Using for loop to print items in Dictionary
a={"Name":"Elon","age":50,"Company":["Spacex","Tesla"]}
for k,v in a.items():
    print(k)
    print(v)

Name
Elon
age
50
Company
['Spacex', 'Tesla']

In [39]:
# While Loop
a=0
while a<10:
    print(a)
    a+=1

0
1
2
3
4
5
6
7
8
9

In [40]:
# Using Break and continue in While Loop
a=0
while a<10:
    print(a)
    a+=1
    if a==5:
        print("a is equal to 5")
        break
    else:
        print(" Continue")
        continue

0
 Continue
1
 Continue
2
 Continue
3
 Continue
4
a is equal to 5

In [41]:
#Range
for a in range (5):
    print(a)

0
1
2
3
4

In [42]:
for a in range (1,10,2):
    print(a)

1
3
5
7
9

In [43]:
for a in range (10,0,-2):
    print(a)

10
8
6
4
2

In [44]:
a=[i**2 for i in range(0,5)]
a

[0, 1, 4, 9, 16]

In [45]:
a=[i for i in range(10) if i%2 == 0]
a

[0, 2, 4, 6, 8]

In [46]:
#Enumerate- To track the number of iteration in the loop without working with variable increment
a=0
for i,a in enumerate("Hello Champ"):
    print(i,a)

0 H
1 e
2 l
3 l
4 o
5
6 C
7 h
8 a
9 m
10 p

In [47]:
#Zip- Creating Tuples by zipping 2 lists
a=["Name","Age","Country"]
b=["Steve",27,"India"]
list(zip(a,b))

[('Name', 'Steve'), ('Age', 27), ('Country', 'India')]