# 12. Functions

In [1]:
#Initializing the function
def welcome():
    print("Hello! Welcome to Python Bootcamp!!")

In [2]:
#Calling the function
welcome()

Hello! Welcome to Python Bootcamp!!

In [3]:
#Initializing the function with argument 
def welcome(a):
    print("Hello {0}! Welcome to Python Bootcamp!!".format(a))

In [4]:
#Calling the function with argument
welcome(" Elon")

Hello  Elon! Welcome to Python Bootcamp!!

In [7]:
# Printing the result using a function
def add(a,b):
    add=a+b
    print("Sum of {0} and {1} is {2}".format(a,b,add))

In [8]:
add(45,5)

Sum of 45 and 5 is 50

In [6]:
# Function returning a value
def addR(a,b):
    add=a+b
    return add

In [9]:
addR(45,5)

50

In [10]:
# Check if a given number is prime number or not
def check(numbers):
    primeNumber=[]
    for number in numbers:
        if number>1:
            for i in range(2, int(number/2)+1):
                if (number % i) ==0:  # if a number is divisible by any number between 2 and number/2, the number is not prime
                    print(number, "is not a prime number")
                    break
            else:
                print(number, "is a prime number")
                primeNumber.append(number)
        else:
            pass
    return primeNumber

In [11]:
check([2,3,4,5,6,7,8,9])

2 is a prime number
3 is a prime number
4 is not a prime number
5 is a prime number
6 is not a prime number
7 is a prime number
8 is not a prime number
9 is not a prime number

[2, 3, 5, 7]

# 1. Map Function-Map a function to an iterable object

In [12]:
def cubeFn(num):
    return num**3

In [13]:
a=[1,2,3,4,5]
list(map(cubeFn,a))

[1, 8, 27, 64, 125]

# 2. Filter Functions- Yields items of iterable in which function is true

In [17]:
def evenFn(num):
    return num % 2 == 0

In [18]:
a=[0,1,2,3,4,5,6,7,8,9,10]
print(list(map(evenFn,a)))
print(list(filter(evenFn,a)))

[True, False, True, False, True, False, True, False, True, False, True]
[0, 2, 4, 6, 8, 10]

# 3. Lambda Function- To create anonymous functions without using def

In [19]:
#Normal Function
def cubeFn(num):
    return num**3
cubeFn(6)

216

In [20]:
#Lambda Function
cubefn=lambda num: num**3
cubefn(6)

216

# 4. *args and **kwargs

In [21]:
# Normal Function with Arguments
def addR(a,b,c):
    add=a+b+c
    return add
addR(10,20,30)

60

In [22]:
# Purpose of args-to avoid passing all the arguments one by one
def addR(*argg):
    return sum(argg)
addR(10,20,30,56,86,38,92,76,37,8,21)

474

In [24]:
# **Kwargs- dictionary of key/value pairs
def func(**kwargs):
    if "name" in kwargs:
        print("My Name is {0}".format(kwargs["name"]))
    if "age" in kwargs:
        print("My Age is {0}".format(kwargs["age"]))
    else:
        print("No Key found!")
        
func(name='Elon',age=58, marks=100)

My Name is Elon
My Age is 58